body {
  background-color: #dbdbe3;
}
.github-profile {
  padding-top: 1rem;
  //margin: 0px;
  color: black;
}

img {
  width: 75px;
  margin-left: 40px;
}

.info {
  display: inline-block;
  margin-left: 12px;
  margin-bottom: 2rem;
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
}

form {
  width: 100%;
  position: relative;
  display: flex;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
}

.search {
  width: 138%;
  position: absolute;
  align-items: left;
  display: flex;
}

.searchButton {
  width: 125px;
  height: 36px;
  border: 1px solid #393a5f;
  background: #393a5f;
  text-align: left;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 12px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #393a5f;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #2d354d;
}

.wrap {
  width: 60%;
  position: relative;
  top: 50%;
  right: -32%;
  transform: translate(-50%, -50%);
}

.header {
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: -19px -19px 38px #afb9c8, 19px 19px 30px #afb9c8;
  background-image: linear-gradient(to right, #a88fe6, #695fba);
  padding-top: 35px;
  margin-top: 15px;
  padding-bottom: 27px;
  margin-bottom: 27px;
  color: white;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 5vw;
  justify-content: center;
  margin-bottom: 1 rem;
}
